# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# VitePress build output
docs/.vitepress/dist/

# VitePress cache
docs/.vitepress/cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
